.navbar {
    width: 100vw;
    height: 60px;
   position: absolute;
   z-index: 1;
}

.menu {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.menu .menuItem a{
    padding: 15px;
    
}  


.menu .menuItem a:hover {
    text-decoration: underline;
  }

  div.container  {
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
     
      flex-direction: column;
    }


  .container .logo img {
      width: 30%;
  }

  div.container input {
      padding: 20px;
      border-radius: 30px;

      height: 50px;
      border: none;
      border: 2px solid var(--color-text-light);
      width: 500px;
      transition: all 0.2s ease-in-out;
  }

  div.container input:hover {
      box-shadow: -5px 14px 28px rgba(0, 0, 0, 0.25), -5px 10px 10px rgba(0, 0, 0, 0.22);
     
  }

  div.container input:focus {
    box-shadow: -5px 14px 28px rgba(0, 0, 0, 0.25), -5px 10px 10px rgba(0, 0, 0, 0.22);
  }

